In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import gzip


from sklearn.model_selection import train_test_split

In [2]:


def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield eval(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

In [3]:
df = getDF('reviews_Electronics_5.json.gz')

In [4]:
user_df = pd.read_csv('User_DF.csv')

In [5]:
user_df.head()

,reviewerID,reviewerName,reviewText,user_deviation,user_delay,helpful_votes,total_votes,no_of_reviews
0,AMO214LNFCEI4,Amazon Customer,"I'm a professional OTR truck driver, and I bou...",1.399189,10152000.0,12,15,1
1,A3N7T0DY83Y4IG,C. A. Freeman,"Well, what can I say. I've had this unit in m...",0.624437,10886400.0,11,11,1
2,A1H8PY3QHMQQA0,"Dave M. Shaw ""mack dave""","Not going to write a long review, even thought...",0.510375,7516800.0,17,18,1
3,A3QH8VQDE7HZCR,costaricachris,Quality was excellent. Instructions were clear...,0.442171,2678400.0,15,19,1
4,A38FGQVJM18OWV,"George S. Mitchell ""gsmitchell""",I checked around Amazon as well as some other ...,1.616074,7603200.0,8,18,1

In [ ]:
1. Get user list
2. Get reviews of only those users
3. Remove test reviews
4. Get the helpfulness features

In [6]:
users = user_df['reviewerID'].unique()

In [9]:
users[0:10]

array(['AMO214LNFCEI4', 'A3N7T0DY83Y4IG', 'A1H8PY3QHMQQA0',
       'A3QH8VQDE7HZCR', 'A38FGQVJM18OWV', 'A7R4R9THNELTP',
       'A27K5RT7VDB7BU', 'AGY0KH2D5G9WH', 'A25M2X8KHSS2NC',
       'A2ZMEHV9S4FXV5'], dtype=object)

In [10]:
len(users)

44378

In [15]:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,AO94DHGC771SJ,0528881469,amazdnu,"[0, 0]",We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,1370131200,"06 2, 2013"
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010"
2,A3N7T0DY83Y4IG,0528881469,C. A. Freeman,"[43, 45]","Well, what can I say. I've had this unit in m...",3.0,1st impression,1283990400,"09 9, 2010"
3,A1H8PY3QHMQQA0,0528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2.0,"Great grafics, POOR GPS",1290556800,"11 24, 2010"
4,A24EV6RXELQZ63,0528881469,Wayne Smith,"[0, 0]",I've had mine for a year and here's what we go...,1.0,"Major issues, only excuses for support",1317254400,"09 29, 2011"

In [21]:
test_data = pd.read_csv('Test_Data.csv')

In [22]:
len(test_data)

32510

### Remove Test Data from main data

In [23]:
df2 = df[~df.index.isin(test_data['real_index'])]

In [24]:
len(df)

1689188

In [25]:
len(df2)

1656678

In [26]:
len(df)-len(df2)

32510

In [27]:
df2.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,AO94DHGC771SJ,0528881469,amazdnu,"[0, 0]",We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,1370131200,"06 2, 2013"
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010"
4,A24EV6RXELQZ63,0528881469,Wayne Smith,"[0, 0]",I've had mine for a year and here's what we go...,1.0,"Major issues, only excuses for support",1317254400,"09 29, 2011"
5,A2JXAZZI9PHK9Z,0594451647,"Billy G. Noland ""Bill Noland""","[3, 3]",I am using this with a Nook HD+. It works as d...,5.0,HDMI Nook adapter cable,1388707200,"01 3, 2014"
6,A2P5U7BDKKT7FW,0594451647,Christian,"[0, 0]",The cable is very wobbly and sometimes disconn...,2.0,Cheap proprietary scam,1398556800,"04 27, 2014"

In [ ]:
--> Getting the reviews having atleast 5 votes for usage in another module - Classification

In [56]:
def num_votes(arr) :
    return arr[1]

In [57]:
MIN_VOTES = 5

In [58]:
gt5 = df2[df2['helpful'].apply(num_votes) >= MIN_VOTES]

In [59]:
len(gt5)

175455

In [62]:
len(df2)

1656678

In [64]:
gt10 = gt5[gt5['helpful'].apply(num_votes) >= 10]

In [66]:
len(gt10)

74992

In [67]:
def get_score(arr) :
    return arr[0]/arr[1]

In [68]:
gt5['helpfulness_score'] = gt5['helpful'].apply(get_score)

C:\Users\Trishul\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
gt5.head()

In [80]:
dfA = gt5[gt5['helpfulness_score'] < 0.5]

In [70]:
gt10['helpfulness_score'] = gt5['helpful'].apply(get_score)

C:\Users\Trishul\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [78]:
len(gt10[gt10['helpfulness_score'] > 0.9])

35865

In [81]:
dfC = gt10[gt10['helpfulness_score'] > 0.9]

In [83]:
dfNew =  pd.concat([dfA, dfC])

In [84]:
dfNew.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,helpfulness_score
82,A38FGQVJM18OWV,0972683275,"George S. Mitchell ""gsmitchell""","[8, 18]",I checked around Amazon as well as some other ...,1.0,What a piece of junk!,1291161600,"12 1, 2010",0.444444
201,A11ZP93TJED4T6,0972683275,Ryan,"[1, 8]",The fact that the pivot point on this TV mount...,2.0,poor manufacture quality..,1285891200,"10 1, 2010",0.125000
242,A1A5KUIIIHFF4U,1400501466,"Anonymous ""Anonymous""","[4, 9]",Have no idea why people love this thing so muc...,1.0,This thing is a junk kids toy.,1332547200,"03 24, 2012",0.444444
291,ASHQ1JCA241D6,1400501520,"Loraine Arnold ""Loraine""","[2, 5]",I bought the Nook primarily for reading but wa...,5.0,Great tablet and ereader,1361145600,"02 18, 2013",0.400000
295,A1889S56VFLVMZ,1400501520,Price John Monroe,"[2, 9]","Why pay to be restricted, I simply didn't see ...",1.0,"Over-priced, lacking in utility.",1369094400,"05 21, 2013",0.222222

In [85]:
len(dfNew)

60804

In [86]:
zlen = len(dfA)

In [87]:
zlen

24939

In [88]:
olen = len(dfC)

In [89]:
olen

35865

In [90]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [91]:
zeros = [0]*zlen
ones  = [1]*olen
is_helpful = zeros + ones

In [92]:
dfNew['is_helpful'] = is_helpful

In [93]:
dfNew.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,helpfulness_score,is_helpful
82,A38FGQVJM18OWV,0972683275,"George S. Mitchell ""gsmitchell""","[8, 18]",I checked around Amazon as well as some other ...,1.0,What a piece of junk!,1291161600,"12 1, 2010",0.444444,0
201,A11ZP93TJED4T6,0972683275,Ryan,"[1, 8]",The fact that the pivot point on this TV mount...,2.0,poor manufacture quality..,1285891200,"10 1, 2010",0.125000,0
242,A1A5KUIIIHFF4U,1400501466,"Anonymous ""Anonymous""","[4, 9]",Have no idea why people love this thing so muc...,1.0,This thing is a junk kids toy.,1332547200,"03 24, 2012",0.444444,0
291,ASHQ1JCA241D6,1400501520,"Loraine Arnold ""Loraine""","[2, 5]",I bought the Nook primarily for reading but wa...,5.0,Great tablet and ereader,1361145600,"02 18, 2013",0.400000,0
295,A1889S56VFLVMZ,1400501520,Price John Monroe,"[2, 9]","Why pay to be restricted, I simply didn't see ...",1.0,"Over-priced, lacking in utility.",1369094400,"05 21, 2013",0.222222,0

In [94]:
dfNew.to_csv('Classification_Data.csv', index=False)

35+24

### Get the reivews of only Users of Reviews under Analysis

In [82]:
df3 = df2[df2.reviewerID.isin(users)]

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\Trishul\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2881, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Trishul\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 1821, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Trishul\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\Trishul\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\Trishul\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\Trishul\Anaconda3\lib\inspect.py", line 1453, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\Trishul\Anaconda3\lib\inspect.py", line 1415, in getframeinfo
    lines, lnum = findsource(frame)
  File "C:\Users\Trishul\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 170, in findsource
    file = getsourcefile(object) or getfile(object)
  File "C:\Users\Trishul\Anaconda3\lib\inspect.py", line 663, in getsourcefile
    if os.path.exists(filename):
  File "C:\Users\Trishul\Anaconda3\lib\genericpath.py", line 19, in exists
    os.stat(path)
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
len(df3)

In [ ]:
df3.head()

True

### Get Helpfulness Variables

In [37]:
def get_helpful(arr) :
    return arr[0]

In [38]:
df3['helpful_votes'] = df3['helpful'].apply(get_helpful)

C:\Users\Trishul\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [39]:
def get_total_votes(arr) :
    return arr[1]

In [40]:
df3['total_votes'] = df3['helpful'].apply(get_total_votes)

C:\Users\Trishul\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
df3.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,helpful_votes,total_votes
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010",12,15
5,A2JXAZZI9PHK9Z,0594451647,"Billy G. Noland ""Bill Noland""","[3, 3]",I am using this with a Nook HD+. It works as d...,5.0,HDMI Nook adapter cable,1388707200,"01 3, 2014",3,3
9,A3BY5KCNQZXV5U,0594451647,Matenai,"[3, 3]",This product really works great but I found th...,5.0,This works great but read the details...,1390176000,"01 20, 2014",3,3
14,ANY6JUFM0GH8U,0594481813,J. Clement,"[2, 2]",I lost my B&N original cable. I looked around...,5.0,Great replacement for original power cable,1394323200,"03 9, 2014",2,2
15,AT09WGFUM934H,0594481813,John,"[0, 0]",It does 2A and charges a DEAD Nook in a few ho...,3.0,This is the oem charger you get with the nook hd+,1377907200,"08 31, 2013",0,0

In [42]:
helpful_data = df3.groupby('reviewerID')['helpful_votes','total_votes'].sum()

In [43]:
helpful_data.head()

                       helpful_votes  total_votes
reviewerID
A0103849GBVWICKXD4T6              23           26
A0191512Q2Z9IPUAE2RZ               4           17
A0266076X6KPZ6CCHGVS              11           12
A05793033A673QTUT56XZ              1            2
A09899451IM4ZNZEJQXHO             19           21

In [44]:
r_count = df3.groupby('reviewerID')['helpful_votes'].count()

In [45]:
r_count.mean()

11.418540718373968

In [46]:
r_count.median()

7.0

In [47]:
helpful_data['no_of_reviews'] = r_count

In [48]:
helpful_data.head()

                       helpful_votes  total_votes  no_of_reviews
reviewerID
A0103849GBVWICKXD4T6              23           26              6
A0191512Q2Z9IPUAE2RZ               4           17              5
A0266076X6KPZ6CCHGVS              11           12              7
A05793033A673QTUT56XZ              1            2              7
A09899451IM4ZNZEJQXHO             19           21              8

In [49]:
helpful_data.tail()

               helpful_votes  total_votes  no_of_reviews
reviewerID
AZZB1GSHMEBUS              4            8              5
AZZBB05CJFP35             50           58             10
AZZOQCD4U42P0             26           26              5
AZZR8DUVE5L8O            108          113              7
AZZX23UGJGKTT             16           19             20

### Integrate with User DF

In [50]:
def get_r_helpful(reviewerID) :
    if reviewerID in helpful_data.index :
        return helpful_data.loc[reviewerID]['helpful_votes']
    return 0

def get_r_total(reviewerID) :
    if reviewerID in helpful_data.index :
        return helpful_data.loc[reviewerID]['total_votes']
    return 0

def get_r_rcount(reviewerID) :
    if reviewerID in helpful_data.index :
        return helpful_data.loc[reviewerID]['no_of_reviews']
    return 0

In [52]:
user_df['all_helpful_votes'] = user_df['reviewerID'].apply(get_r_helpful)
user_df['all_total_votes'] = user_df['reviewerID'].apply(get_r_total)
user_df['all_no_of_reviews'] = user_df['reviewerID'].apply(get_r_rcount)

In [53]:
user_df.head()

,reviewerID,reviewerName,reviewText,user_deviation,user_delay,helpful_votes,total_votes,no_of_reviews,all_helpful_votes,all_total_votes,all_no_of_reviews
0,AMO214LNFCEI4,Amazon Customer,"I'm a professional OTR truck driver, and I bou...",1.399189,10152000.0,12,15,1,12,15,4
1,A3N7T0DY83Y4IG,C. A. Freeman,"Well, what can I say. I've had this unit in m...",0.624437,10886400.0,11,11,1,15,21,11
2,A1H8PY3QHMQQA0,"Dave M. Shaw ""mack dave""","Not going to write a long review, even thought...",0.510375,7516800.0,17,18,1,24,30,21
3,A3QH8VQDE7HZCR,costaricachris,Quality was excellent. Instructions were clear...,0.442171,2678400.0,15,19,1,17,24,6
4,A38FGQVJM18OWV,"George S. Mitchell ""gsmitchell""",I checked around Amazon as well as some other ...,1.616074,7603200.0,8,18,1,8,18,5

In [54]:
user_df.to_csv('User_DF.csv', index=False)

In [55]:
user_df.head()

,reviewerID,reviewerName,reviewText,user_deviation,user_delay,helpful_votes,total_votes,no_of_reviews,all_helpful_votes,all_total_votes,all_no_of_reviews
0,AMO214LNFCEI4,Amazon Customer,"I'm a professional OTR truck driver, and I bou...",1.399189,10152000.0,12,15,1,12,15,4
1,A3N7T0DY83Y4IG,C. A. Freeman,"Well, what can I say. I've had this unit in m...",0.624437,10886400.0,11,11,1,15,21,11
2,A1H8PY3QHMQQA0,"Dave M. Shaw ""mack dave""","Not going to write a long review, even thought...",0.510375,7516800.0,17,18,1,24,30,21
3,A3QH8VQDE7HZCR,costaricachris,Quality was excellent. Instructions were clear...,0.442171,2678400.0,15,19,1,17,24,6
4,A38FGQVJM18OWV,"George S. Mitchell ""gsmitchell""",I checked around Amazon as well as some other ...,1.616074,7603200.0,8,18,1,8,18,5