# Helpfulness Variables

In [2]:
'''
1. Get the DataFrame with >=10 Votes
2. Get all the Reviewers List in a DataFrame
3. Get Total Votes, Positive Votes and Negative Votes, No of Reviews grouped by Reviewer
4. Store it In the Reviewer - Votes DF
5. Store in User_DF where the features are present per review
'''

'\n1. Get the DataFrame with >=10 Votes\n2. Get all the Reviewers List in a DataFrame\n3. Get Total Votes, Positive Votes and Negative Votes grouped by Reviewer\n4. Store it In the Reviewer - Votes DF\n5. Store in User_DF where the features are present per review\n'

In [26]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import gzip


from sklearn.model_selection import train_test_split

## Get the DataFrame

In [4]:


def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield eval(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

In [5]:
df = getDF('reviews_Electronics_5.json.gz')

In [6]:
def num_votes(arr) :
    return arr[1]

In [8]:
MIN_VOTES = 10

In [9]:
df2 = df[df['helpful'].apply(num_votes) >= MIN_VOTES]

In [10]:
df2.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010"
2,A3N7T0DY83Y4IG,0528881469,C. A. Freeman,"[43, 45]","Well, what can I say. I've had this unit in m...",3.0,1st impression,1283990400,"09 9, 2010"
3,A1H8PY3QHMQQA0,0528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2.0,"Great grafics, POOR GPS",1290556800,"11 24, 2010"
56,A3QH8VQDE7HZCR,0972683275,costaricachris,"[15, 19]",Quality was excellent. Instructions were clear...,5.0,Real value for the money,1286236800,"10 5, 2010"
82,A38FGQVJM18OWV,0972683275,"George S. Mitchell ""gsmitchell""","[8, 18]",I checked around Amazon as well as some other ...,1.0,What a piece of junk!,1291161600,"12 1, 2010"

In [13]:
df2.iloc[0]['helpful'][1]

15

## Get All Reviewers List

In [17]:
df2[df2.index==3]

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
3,A1H8PY3QHMQQA0,0528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2.0,"Great grafics, POOR GPS",1290556800,"11 24, 2010"

In [19]:
reviewer_ids = df2['reviewerID'].unique()

In [22]:
len(reviewer_ids)

54101

## Remove Test Entries from DF

In [23]:
review_df = pd.read_csv('Amazon_Latest_Data.csv')

In [79]:
review_df.tail()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,helpfulness_score,user_deviation,review_delay,stem_words,lem_words,stem_sim_words,lem_sim_words
81270,APRNS6DB68LLV,B00L26YDA4,"Rob Slaven ""slavenrm@gmail. com""","[5, 10]",As usual I received this item for free in exch...,5.0,Works brilliantly once you understand what it ...,1404172800,"07 1, 2014",0.500000,0.597583,432000,"['usual', 'receiv', 'item', 'free', 'exchang',...","['usual', 'received', 'item', 'free', 'exchang...",[],"['receiver', 'speaker', 'get', 'wifi', 'need']"
81271,A3A4ZAIBQWKOZS,B00L26YDA4,Stephen M. Lerch,"[10, 15]",Want to add wireless audio streaming to your h...,5.0,Smart,1403827200,"06 27, 2014",0.666667,0.546834,86400,"['want', 'add', 'wireless', 'audio', 'stream',...","['want', 'add', 'wireless', 'audio', 'streamin...",[],"['receiver', 'music', 'connection', 'wifi', 's..."
81272,A18R0PC372EGL,B00L3YHF6O,Blues,"[7, 11]",Wow...that's about all I have to say. Having ...,5.0,To use a technical term...Wow!,1404950400,"07 10, 2014",0.636364,0.448464,259200,"['wowthat', 'say', 'prior', 'experi', 'bt', 's...","['wowthats', 'say', 'prior', 'experience', 'bt...",[],"['fidelity', 'pair', 'performance', 'sound', '..."
81273,A3OOQH73VQ97VN,B00L3YHF6O,"Jem ""Microsoft""","[5, 12]",Update 14 July 2014: they have a white paper a...,5.0,Purely Cons Review,1404777600,"07 8, 2014",0.416667,0.742179,86400,"['updat', '14', 'juli', '2014', 'white', 'pape...","['update', '14', 'july', '2014', 'white', 'pap...",['g'],"['sbx', 'control', 'audio', 'pair', 'power', '..."
81274,A3A4ZAIBQWKOZS,B00L3YHF6O,Stephen M. Lerch,"[18, 23]",My short review:If you have the money to spend...,5.0,Best sounding speaker at this price range,1404691200,"07 7, 2014",0.782609,0.546834,0,"['short', 'reviewif', 'money', 'spend', 'speak...","['short', 'reviewif', 'money', 'spend', 'speak...","['n', 'w']","['control', 'audio', 'pc', 'connection', 'pair..."

In [25]:
len(review_df)

81275

In [88]:
len(review_df[~((review_df['reviewerID']=='A3OOQH73VQ97VN') & (review_df['asin']=='B00L3YHF6O'))])

81274

In [28]:
X = review_df.drop('helpful', axis=1)
y = review_df['helpful']

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=101)

In [55]:
len(X_train)

48765

In [40]:
Delta = X_test

In [100]:
#Delta.loc[5]

In [99]:
#Delta['helpful'] = y_test

In [98]:
#Delta.iloc[0]

In [97]:
#df3 = df2.drop(Delta.index)

In [61]:
df3 = df2[~df2.index.isin(Delta.index)

In [66]:
df2.index.isin(Delta.index)

array([ True,  True, False, ..., False, False, False])

In [63]:
len(df3)

103889

In [64]:
len(df2)

107502

In [60]:
len(Delta)

32510

In [91]:
Delta.head()

,reviewerID,asin,reviewerName,reviewText,overall,summary,unixReviewTime,reviewTime,helpfulness_score,user_deviation,review_delay,stem_words,lem_words,stem_sim_words,lem_sim_words,helpful
51704,A20DDH4NT6Q1E8,B0036AWR8E,Koala1356,If you're looking at the Lowepro SlingShot cam...,5.0,"Versatile, Quality Backpack",1271116800,"04 13, 2010",0.931034,0.551259,950400,"['your', 'look', 'lowepro', 'slingshot', 'came...","['youre', 'looking', 'lowepro', 'slingshot', '...",['x'],"['camera', 'front', 'compartment', 'cloth', 'c...","[54, 58]"
29896,A3V2P1ZV2LETF3,B000TXEE14,Artemaria,I bought this drive because it was on sale fro...,4.0,Good Budget Drive,1196208000,"11 28, 2007",0.975610,0.681306,0,"['bought', 'drive', 'sale', 'circuit', 'citi',...","['bought', 'drive', 'sale', 'circuit', 'city',...",[],"['mind', 'drive', 'storage', 'dont', 'cap', 'w...","[80, 82]"
9419,AYU6VDCDO0542,B0001DA0CO,William N. Ostrove,I have recently become interested in digital p...,5.0,Great Camera for Beginners,1101600000,"11 28, 2004",0.909091,0.373805,13305600,"['recent', 'becom', 'interest', 'digit', 'phot...","['recently', 'become', 'interested', 'digital'...",[],"['camera', 'easyshare', 'software', 'auto', 'p...","[20, 22]"
77612,A23O3QXCYT55JJ,B00BU7TV6G,i7Rage,SUMMARY: works beautifully to transfer VHS tap...,4.0,Not for editing,1291161600,"12 1, 2010",1.000000,0.954457,4147200,"['summari', 'work', 'beauti', 'transfer', 'vh'...","['summary', 'work', 'beautifully', 'transfer',...",[],"['recorder', 'home']","[61, 61]"
7954,A1WMHFPD9YLVFV,B0000B35CK,Abester,This card works perfectly in my 8 megapixel Ol...,5.0,Works great in my Olympus C-8080 8 mega pixel ...,1089763200,"07 14, 2004",1.000000,0.973060,10281600,"['card', 'work', 'perfectli', '8', 'megapixel'...","['card', 'work', 'perfectly', '8', 'megapixel'...",[],[],"[14, 14]"

In [ ]:
df3 = df2[df2['reviewerID'].isi]

In [95]:
def get_real_index(reviewerID, asin) :
    dtemp = df2[(df2['reviewerID']==reviewerID) & (df2['asin']==asin)]
    return dtemp.index[0]

In [101]:
Delta['real_index'] = Delta.apply(lambda row: get_real_index(row['reviewerID'],row['asin']), axis=1)

C:\Users\Trishul\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [102]:
Delta.head()

,reviewerID,asin,reviewerName,reviewText,overall,summary,unixReviewTime,reviewTime,helpfulness_score,user_deviation,review_delay,stem_words,lem_words,stem_sim_words,lem_sim_words,helpful,real_index
51704,A20DDH4NT6Q1E8,B0036AWR8E,Koala1356,If you're looking at the Lowepro SlingShot cam...,5.0,"Versatile, Quality Backpack",1271116800,"04 13, 2010",0.931034,0.551259,950400,"['your', 'look', 'lowepro', 'slingshot', 'came...","['youre', 'looking', 'lowepro', 'slingshot', '...",['x'],"['camera', 'front', 'compartment', 'cloth', 'c...","[54, 58]",715950
29896,A3V2P1ZV2LETF3,B000TXEE14,Artemaria,I bought this drive because it was on sale fro...,4.0,Good Budget Drive,1196208000,"11 28, 2007",0.975610,0.681306,0,"['bought', 'drive', 'sale', 'circuit', 'citi',...","['bought', 'drive', 'sale', 'circuit', 'city',...",[],"['mind', 'drive', 'storage', 'dont', 'cap', 'w...","[80, 82]",313454
9419,AYU6VDCDO0542,B0001DA0CO,William N. Ostrove,I have recently become interested in digital p...,5.0,Great Camera for Beginners,1101600000,"11 28, 2004",0.909091,0.373805,13305600,"['recent', 'becom', 'interest', 'digit', 'phot...","['recently', 'become', 'interested', 'digital'...",[],"['camera', 'easyshare', 'software', 'auto', 'p...","[20, 22]",88450
77612,A23O3QXCYT55JJ,B00BU7TV6G,i7Rage,SUMMARY: works beautifully to transfer VHS tap...,4.0,Not for editing,1291161600,"12 1, 2010",1.000000,0.954457,4147200,"['summari', 'work', 'beauti', 'transfer', 'vh'...","['summary', 'work', 'beautifully', 'transfer',...",[],"['recorder', 'home']","[61, 61]",1574701
7954,A1WMHFPD9YLVFV,B0000B35CK,Abester,This card works perfectly in my 8 megapixel Ol...,5.0,Works great in my Olympus C-8080 8 mega pixel ...,1089763200,"07 14, 2004",1.000000,0.973060,10281600,"['card', 'work', 'perfectli', '8', 'megapixel'...","['card', 'work', 'perfectly', '8', 'megapixel'...",[],[],"[14, 14]",76480

In [103]:
df3 = df2[~df2.index.isin(Delta['real_index'])]

In [104]:
len(df3)

74992

In [105]:
df3.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010"
56,A3QH8VQDE7HZCR,0972683275,costaricachris,"[15, 19]",Quality was excellent. Instructions were clear...,5.0,Real value for the money,1286236800,"10 5, 2010"
82,A38FGQVJM18OWV,0972683275,"George S. Mitchell ""gsmitchell""","[8, 18]",I checked around Amazon as well as some other ...,1.0,What a piece of junk!,1291161600,"12 1, 2010"
211,A27K5RT7VDB7BU,0972683275,Stephan,"[70, 92]",I purchased this mount for my 37 inch LCD TV. ...,3.0,It Works But Could Be Better,1292025600,"12 11, 2010"
230,A25M2X8KHSS2NC,0972683275,"Ultimate Ducky ""Ultimate Ducky""","[8, 15]","Unfortunately, I'm returning this mount.Though...",2.0,"Poor Quality Control, May Block the Ports on Y...",1283558400,"09 4, 2010"

## Get Helpfulness Variables

In [ ]:
## Get Helpfulness Variables
1. No. of Helpful Votes
2. No. of Unhelpful votes
3. Total Votes
4. No. of Reviews
5. Average No. of Helpful Votes per Review

In [107]:
def get_helpful(arr) :
    return arr[0]

In [108]:
df3['helpful_votes'] = df3['helpful'].apply(get_helpful)

C:\Users\Trishul\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [110]:
def get_total_votes(arr) :
    return arr[1]

In [112]:
df3['total_votes'] = df3['helpful'].apply(get_total_votes)

C:\Users\Trishul\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [113]:
df3.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,helpful_votes,total_votes
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010",12,15
56,A3QH8VQDE7HZCR,0972683275,costaricachris,"[15, 19]",Quality was excellent. Instructions were clear...,5.0,Real value for the money,1286236800,"10 5, 2010",15,19
82,A38FGQVJM18OWV,0972683275,"George S. Mitchell ""gsmitchell""","[8, 18]",I checked around Amazon as well as some other ...,1.0,What a piece of junk!,1291161600,"12 1, 2010",8,18
211,A27K5RT7VDB7BU,0972683275,Stephan,"[70, 92]",I purchased this mount for my 37 inch LCD TV. ...,3.0,It Works But Could Be Better,1292025600,"12 11, 2010",70,92
230,A25M2X8KHSS2NC,0972683275,"Ultimate Ducky ""Ultimate Ducky""","[8, 15]","Unfortunately, I'm returning this mount.Though...",2.0,"Poor Quality Control, May Block the Ports on Y...",1283558400,"09 4, 2010",8,15

In [106]:
reviewer_group = df3.groupby('reviewerID').

In [ ]:
reviewr_group.mean()

In [114]:
reviewer_helpful = df3.groupby('reviewerID')['helpful_votes'].sum()

In [118]:
type(reviewer_helpful)

pandas.core.series.Series

In [119]:
r_total = df3.groupby('reviewerID')['total_votes'].sum()

In [120]:
r_total

reviewerID
A0103849GBVWICKXD4T6       24
A0191512Q2Z9IPUAE2RZ       14
A0266076X6KPZ6CCHGVS       10
A08364961O0V6UJTPJB0D      14
A09899451IM4ZNZEJQXHO      20
A1002O7Q4BOWMM             26
A1004703RC79J9             33
A1004HHMSDY5IP             30
A1007OOXKZK6ZR             32
A100GMI0IGM050             11
A100IX1FUK5IAW             24
A100K8BPAW2Q7F             18
A100MKFIT7OG3X            150
A100NGGXRQF0AQ             61
A100S1JQ5XK960             11
A100UD67AHFODS           2204
A100WHX0JSGXDB             10
A100WO06OQR8BQ            175
A100XSM6024QI7             23
A1010HVCGBXMDT             77
A1016Q5UDME15Z             11
A101ARTQSI7ITQ            104
A101BQHSPH6STJ             68
A101EYIX62T3N0             14
A101L4HF0IZ33C             67
A101OAAMZYWQ3U             41
A101QSLKULPVH1            112
A101R8VTVP8ZL9             13
A1029ESOR657OQ             71
A102ASNDNXLYU2             26
                         ...
AZWOQXRCS1WA6              14
AZWQP2CC2PPNR              21
AZWWDK03E3M8S              62
AZX52MBY59CL4              11
AZX7GJRLMWN92             136
AZXFMHSH6VSTS              27
AZXG9WGT79144              10
AZXGPM8EKSHE9              37
AZXKG69RR28G4              14
AZXNU10XN4Y3Q              58
AZXQ0WME7X6UT             133
AZXV98EONIU4S              32
AZXXVMQWISPH6              15
AZY32HS48OZJO              25
AZY5WADV3UWQU              27
AZYBZEVISD0YX              18
AZYIAWJR9972L              37
AZYJE40XW6MFG              62
AZYJTD9J82V5I              19
AZYQXN79IHDYO              82
AZYXW6JLVD8SH              16
AZZ1KF8RAO1BR              49
AZZ2DEE2NTIM7             386
AZZA7IQWTXCH3              17
AZZBB05CJFP35              31
AZZNK89PXD006              15
AZZOQCD4U42P0              25
AZZR8DUVE5L8O             107
AZZX23UGJGKTT              11
AZZYW4YOE1B6E              15
Name: total_votes, Length: 43201, dtype: int64

In [123]:
helpful_data = df3.groupby('reviewerID')['helpful_votes','total_votes'].sum()

In [125]:
r_count = df3.groupby('reviewerID')['helpful_votes'].count()

In [127]:
r_count.mean()

1.7358857433855697

In [128]:
helpful_data['no_of_reviews'] = r_count

In [130]:
helpful_data.tail()

               helpful_votes  total_votes  no_of_reviews
reviewerID
AZZNK89PXD006             15           15              1
AZZOQCD4U42P0             25           25              2
AZZR8DUVE5L8O            103          107              2
AZZX23UGJGKTT              9           11              1
AZZYW4YOE1B6E             14           15              1

In [134]:
helpful_data['no_of_reviews'].max()

119

In [136]:
helpful_data.index

Index(['A0103849GBVWICKXD4T6', 'A0191512Q2Z9IPUAE2RZ', 'A0266076X6KPZ6CCHGVS',
       'A08364961O0V6UJTPJB0D', 'A09899451IM4ZNZEJQXHO', 'A1002O7Q4BOWMM',
       'A1004703RC79J9', 'A1004HHMSDY5IP', 'A1007OOXKZK6ZR', 'A100GMI0IGM050',
       ...
       'AZYXW6JLVD8SH', 'AZZ1KF8RAO1BR', 'AZZ2DEE2NTIM7', 'AZZA7IQWTXCH3',
       'AZZBB05CJFP35', 'AZZNK89PXD006', 'AZZOQCD4U42P0', 'AZZR8DUVE5L8O',
       'AZZX23UGJGKTT', 'AZZYW4YOE1B6E'],
      dtype='object', name='reviewerID', length=43201)

In [139]:
def get_r_helpful(reviewerID) :
    if reviewerID in helpful_data.index :
        return helpful_data.loc[reviewerID]['helpful_votes']
    return 0

def get_r_total(reviewerID) :
    if reviewerID in helpful_data.index :
        return helpful_data.loc[reviewerID]['total_votes']
    return 0

def get_r_rcount(reviewerID) :
    if reviewerID in helpful_data.index :
        return helpful_data.loc[reviewerID]['no_of_reviews']
    return 0

In [141]:
get_r_helpful('AZYcXW6JLVD8SH')

0

In [142]:
review_df['r_helpful'] = review_df['reviewerID'].apply(get_r_helpful)
review_df['r_total'] = review_df['reviewerID'].apply(get_r_total)
review_df['r_no_of_reviews'] = review_df['reviewerID'].apply(get_r_rcount)

In [144]:
review_df.tail()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,helpfulness_score,user_deviation,review_delay,stem_words,lem_words,stem_sim_words,lem_sim_words,r_helpful,r_total,r_no_of_reviews
81270,APRNS6DB68LLV,B00L26YDA4,"Rob Slaven ""slavenrm@gmail. com""","[5, 10]",As usual I received this item for free in exch...,5.0,Works brilliantly once you understand what it ...,1404172800,"07 1, 2014",0.500000,0.597583,432000,"['usual', 'receiv', 'item', 'free', 'exchang',...","['usual', 'received', 'item', 'free', 'exchang...",[],"['receiver', 'speaker', 'get', 'wifi', 'need']",0,0,0
81271,A3A4ZAIBQWKOZS,B00L26YDA4,Stephen M. Lerch,"[10, 15]",Want to add wireless audio streaming to your h...,5.0,Smart,1403827200,"06 27, 2014",0.666667,0.546834,86400,"['want', 'add', 'wireless', 'audio', 'stream',...","['want', 'add', 'wireless', 'audio', 'streamin...",[],"['receiver', 'music', 'connection', 'wifi', 's...",1482,1628,27
81272,A18R0PC372EGL,B00L3YHF6O,Blues,"[7, 11]",Wow...that's about all I have to say. Having ...,5.0,To use a technical term...Wow!,1404950400,"07 10, 2014",0.636364,0.448464,259200,"['wowthat', 'say', 'prior', 'experi', 'bt', 's...","['wowthats', 'say', 'prior', 'experience', 'bt...",[],"['fidelity', 'pair', 'performance', 'sound', '...",7,11,1
81273,A3OOQH73VQ97VN,B00L3YHF6O,"Jem ""Microsoft""","[5, 12]",Update 14 July 2014: they have a white paper a...,5.0,Purely Cons Review,1404777600,"07 8, 2014",0.416667,0.742179,86400,"['updat', '14', 'juli', '2014', 'white', 'pape...","['update', '14', 'july', '2014', 'white', 'pap...",['g'],"['sbx', 'control', 'audio', 'pair', 'power', '...",73,100,4
81274,A3A4ZAIBQWKOZS,B00L3YHF6O,Stephen M. Lerch,"[18, 23]",My short review:If you have the money to spend...,5.0,Best sounding speaker at this price range,1404691200,"07 7, 2014",0.782609,0.546834,0,"['short', 'reviewif', 'money', 'spend', 'speak...","['short', 'reviewif', 'money', 'spend', 'speak...","['n', 'w']","['control', 'audio', 'pc', 'connection', 'pair...",1482,1628,27

## Integrate with User DF

In [145]:
user_df = pd.read_csv('User_DF.csv')

In [146]:
user_df.head()

,reviewerID,reviewerName,reviewText,user_deviation,user_delay
0,AMO214LNFCEI4,Amazon Customer,"I'm a professional OTR truck driver, and I bou...",1.399189,10152000.0
1,A3N7T0DY83Y4IG,C. A. Freeman,"Well, what can I say. I've had this unit in m...",0.624437,10886400.0
2,A1H8PY3QHMQQA0,"Dave M. Shaw ""mack dave""","Not going to write a long review, even thought...",0.510375,7516800.0
3,A3QH8VQDE7HZCR,costaricachris,Quality was excellent. Instructions were clear...,0.442171,2678400.0
4,A38FGQVJM18OWV,"George S. Mitchell ""gsmitchell""",I checked around Amazon as well as some other ...,1.616074,7603200.0

In [147]:
user_df['helpful_votes'] = review_df['r_helpful']
user_df['total_votes'] = review_df['r_total']
user_df['no_of_reviews'] = review_df['r_no_of_reviews']

In [148]:
user_df.head()

,reviewerID,reviewerName,reviewText,user_deviation,user_delay,helpful_votes,total_votes,no_of_reviews
0,AMO214LNFCEI4,Amazon Customer,"I'm a professional OTR truck driver, and I bou...",1.399189,10152000.0,12,15,1
1,A3N7T0DY83Y4IG,C. A. Freeman,"Well, what can I say. I've had this unit in m...",0.624437,10886400.0,11,11,1
2,A1H8PY3QHMQQA0,"Dave M. Shaw ""mack dave""","Not going to write a long review, even thought...",0.510375,7516800.0,17,18,1
3,A3QH8VQDE7HZCR,costaricachris,Quality was excellent. Instructions were clear...,0.442171,2678400.0,15,19,1
4,A38FGQVJM18OWV,"George S. Mitchell ""gsmitchell""",I checked around Amazon as well as some other ...,1.616074,7603200.0,8,18,1

In [149]:
user_df.to_csv('User_DF.csv',index=False)